.demo {
  [class^='swatch-'] {
    @extend %code;

    @include position(relative);
    @include size(10rem);

    border: 1px theme(border, neutral);
    display: inline-block;
    margin: 0 1rem 1rem 0;

    &::after {
      @include contrast(color(white), theme(color, text, dark), theme(color, text, light));
      @include position(absolute, auto, auto, 0, 0);

      border-top: 1px theme(border, light);
      padding: .5rem 2rem;
      text-align: center;
      width: 100%;
    }
  }

  @each $color, $value in $colors {
    .swatch-#{'' + $color} {
      background: $value;

      &::after {
        content: '#{$color} \00000a #{$value}';
      }
    }
  }

  @each $color, $value in $color-primary {
    .swatch-primary-#{'' + $color} {
      background: $value;

      &::after {
        content: '#{$color} \00000a #{$value}';
      }
    }
  }

  @each $color, $value in $color-accent {
    .swatch-accent-#{'' + $color} {
      background: $value;

      &::after {
        content: '#{$color} \00000a #{$value}';
      }
    }
  }

  @each $color, $value in $color-neutral {
    .swatch-neutral-#{'' + $color} {
      background: $value;

      &::after {
        content: '#{$color} \00000a #{$value}';
      }
    }
  }
}
