/**
  Color mixins
 */

@mixin contrast($background: color(neutral), $dark: color(black), $light: color(white)) {
  background: $background;
  color: contrast-color($background, $dark, $light);
}

@mixin contrast-text($background: color(neutral)) {
  background: $background;
  color: contrast-color($background, theme(text, dark), theme(text, light));

  h1, h2, h3, h4, h5, h6, .title, .subtitle {
    color: contrast-color($background);
  }

  label, .label {
    color: contrast-color($background, theme(text, dark-muted), theme(text, light-muted));
  }
}


/**
  Position and size mixins
 */

@mixin position($position: relative, $top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin size($width: 100%, $height: $width) {
	width: $width;
	height: $height;
}
