/**
  Baseline theme values
 */

$theme: (
  color: (
    text: (
      dark: tint(color(black), 25%),
      light: shade(color(white), 25%),

      accent: (
        dark: color(black),
        light: color(white),
      ),

      muted: (
        dark: rgba(color(black), 60%),
        light: rgba(color(white), 60%),
      ),
    ),

    title: (
      dark: color(black),
      light: color(white),
    ),
  ),

  font: (
    family: (
      code: font(family, source-code-pro),
      text: font(family, source-sans-pro),
      title: font(family, pt-sans),
    ),

    size: (
      root: 10px,       /* =1rem */
      code: 1.2rem,
      text: 1.4rem,
      title: (
        1: 3.2rem,
        2: 2.7rem,
        3: 2.3rem,
        4: 2rem,
        5: 1.8rem,
        6: 1.6rem,
      ),
    ),

    weight: (
      code: 400,
      text: 400,
      title: 400,
    ),
  ),

  line-height: (
    code: 1.5,
    text: 1.5,
    title: 1.25,
  ),

  border: (
    light: solid color-neutral(50),
    neutral: solid color-neutral(100),
    dark: solid color-neutral(700),
  ),

  box-shadow: (
    dark: 2px 2px 4px rgba(black, 10%),
  ),
);

@function theme($keys...) {
  $value: $theme;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}


/**
  Additional theme values
 */

$theme: map-merge($theme,
  (
    html: (
      background: color(light),
    ),

    button: (
      neutral: color-neutral(700),
      neutral-hover: color-neutral(800),
      primary: color-primary(500),
      primary-hover: color-primary(600),
      margin: 0 .5rem .5rem 0,
      padding: 1rem 2rem,
    ),

    card: (
      background: color(white),
      margin: 0 0 1.6rem,
      padding: 2rem,
    ),

    footer: (
      height: 10rem,
      padding: 2rem,
    ),

    header: (
      background: color(dark),
      height: 20rem,
      padding: 2rem,
    ),

    link: (
      neutral: color-neutral(700),
      neutral-hover: color-neutral(800),
      primary: color-primary(500),
      primary-hover: color-primary(600),
    ),

    main: (
      background: color(light),
      padding: 2rem,
    ),

    nav-side: (
      background: color-neutral(800),
      padding: 2rem,
      width: 20rem,
    ),
  )
);
