/**
  Baseline element properties
 */

$theme: (
  border: (
    light: solid color-neutral(50),
    neutral: solid color-neutral(100),
    dark: solid color-neutral(700),
  ),

  box-shadow: (
    dark: 2px 2px 4px rgba(black, 10%),
  ),

  text: (
    dark: rgba(color(black), 75%),
    dark-muted: rgba(color(black), 60%),
    light: rgba(color(white), 75%),
    light-muted: rgba(color(white), 60%),
  ),
);

@function theme($keys...) {
  $value: $theme;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}


/**
  Additional element properties
 */

$theme: map-merge($theme,
  (
    html: (
      background: color(light),
      font-family: font(family, source-sans-pro),
      font-size: font(size, root),
      font-weight: font(weight, normal),
      line-height: (20/14),
    ),

    body: (
      background: none,
      font-family: inherit,
      font-size: font(size, regular),
      font-weight: inherit,
      line-height: inherit,
    ),

    card: (
      background: color(white),
      margin: 0 0 1.6rem,
      padding: 2rem,
    ),

    code: (
      font-family: font(family, source-code-pro),
      font-size: font(size, small),
      font-weight: font(weight, normal),
      line-height: (18/14),
    ),

    footer: (
      height: 10rem,
      padding: 2rem,
    ),

    header: (
      background: color(dark),
      height: 24rem,
      padding: 2rem,
    ),

    main: (
      background: color(light),
      padding: 2rem,
    ),

    nav-side: (
      background: color-neutral(800),
      padding: 2rem,
      width: 20rem,
    ),

    title: (
      font-family: font(family, pt-sans),
      font-weight: font(weight, normal),
      line-height: (16/14),
    ),
  )
);
