/**
  Color functions
 */
/**
  Color mixins
 */
/**
  Position and size mixins
 */
/**
	Main colors by name
 */
/**
  Main color levels
 */
/**
  Additional neutral colors
 */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap");
/**
  Baseline element properties
 */
/**
  Additional element properties
 */
* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

html {
  background: #f4f7f8;
  color: rgba(29, 34, 37, 0.75);
  font-family: Source Sans Pro, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4285714286;
}
html h1, html h2, html h3, html h4, html h5, html h6, html .title, html .subtitle {
  color: #405c71;
}
html label, html .label {
  color: rgba(29, 34, 37, 0.6);
}

body {
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: inherit;
  line-height: inherit;
}

img {
  display: block;
}

nav ul,
nav ul li,
nav ul li a {
  display: block;
}
nav ul {
  list-style: none;
}

p {
  margin: 0 0 0.7rem;
}

/**
  Ensure that footer is always positioned at the bottom
 */
.footer,
.header,
.main {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.header {
  background: #405c71;
  color: rgba(255, 255, 255, 0.75);
  padding: 2rem;
}
.header h1, .header h2, .header h3, .header h4, .header h5, .header h6, .header .title, .header .subtitle {
  color: #ffffff;
}
.header label, .header .label {
  color: rgba(255, 255, 255, 0.6);
}
.header .logo img {
  width: auto;
  height: 7rem;
}
.header .title {
  margin: 0;
}

.main {
  padding: 2rem;
}

.card {
  background: #ffffff;
  border: 1px solid #e9eef1;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.6rem;
  padding: 2rem;
}

.card-footer {
  border-top: 1px solid #f4f7f8;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
}

.card-header {
  border-bottom: 1px solid #f4f7f8;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}
.card-header .title {
  margin: 0;
}

.card-main {
  padding: 1rem 0 0;
}

/**
  Cards in a grid will have the same height by default
 */
.col > .card,
[class^=col-] > .card {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  line-height: 1.1428571429;
}

h1, .title {
  margin: 0 0 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2, .subtitle {
  margin: 0 0 1.35rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.3rem;
  margin: 0 0 1.15rem;
}

h4 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h5 {
  font-size: 1.8rem;
  margin: 0 0 0.9rem;
}

h6 {
  font-size: 1.6rem;
  margin: 0 0 0.8rem;
}

/**
  Fix collapsing margins of child elements
 */
.col,
[class^=col-] {
  display: flex;
  flex-direction: column;
}

/**
  Vertical alignment
 */
.col.col-valign-bottom,
[class^=col-].col-valign-bottom {
  justify-content: flex-end;
}
.col.col-valign-center,
[class^=col-].col-valign-center {
  justify-content: center;
}
.col.col-valign-top,
[class^=col-].col-valign-top {
  justify-content: flex-start;
}

[class^=swatch-] {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
  width: 10rem;
  height: 10rem;
  border: 1px solid #e9eef1;
  display: inline-block;
  font-family: Source Code Pro, monospace;
  font-size: 1.2rem;
  line-height: 1.2857142857;
  margin: 0 1rem 1rem 0;
}
[class^=swatch-]::after {
  background: #ffffff;
  color: #1d2225;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: auto;
  border-top: 1px solid #f4f7f8;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 100%;
}

.swatch-primary {
  background: #6b9abd;
}
.swatch-primary::after {
  content: "primary \a#6b9abd";
}

.swatch-accent {
  background: #f5f38a;
}
.swatch-accent::after {
  content: "accent \a#f5f38a";
}

.swatch-neutral {
  background: #93aabb;
}
.swatch-neutral::after {
  content: "neutral \a#93aabb";
}

.swatch-white {
  background: #ffffff;
}
.swatch-white::after {
  content: "white \a#ffffff";
}

.swatch-success {
  background: #6bbd94;
}
.swatch-success::after {
  content: "success \a#6bbd94";
}

.swatch-info {
  background: #8984c5;
}
.swatch-info::after {
  content: "info \a#8984c5";
}

.swatch-danger {
  background: #f58989;
}
.swatch-danger::after {
  content: "danger \a#f58989";
}

.swatch-warning {
  background: #f5c189;
}
.swatch-warning::after {
  content: "warning \a#f5c189";
}

.swatch-black {
  background: #1d2225;
}
.swatch-black::after {
  content: "black \a#1d2225";
}

.swatch-dark {
  background: #586670;
}
.swatch-dark::after {
  content: "dark \a#586670";
}

.swatch-light {
  background: #f4f7f8;
}
.swatch-light::after {
  content: "light \a#f4f7f8";
}

.swatch-primary-50 {
  background: #f0f5f8;
}
.swatch-primary-50::after {
  content: "50 \a#f0f5f8";
}

.swatch-primary-100 {
  background: #e1ebf2;
}
.swatch-primary-100::after {
  content: "100 \a#e1ebf2";
}

.swatch-primary-200 {
  background: #c4d7e5;
}
.swatch-primary-200::after {
  content: "200 \a#c4d7e5";
}

.swatch-primary-300 {
  background: #a6c2d7;
}
.swatch-primary-300::after {
  content: "300 \a#a6c2d7";
}

.swatch-primary-400 {
  background: #89aeca;
}
.swatch-primary-400::after {
  content: "400 \a#89aeca";
}

.swatch-primary-500 {
  background: #6b9abd;
}
.swatch-primary-500::after {
  content: "500 \a#6b9abd";
}

.swatch-primary-600 {
  background: #567b97;
}
.swatch-primary-600::after {
  content: "600 \a#567b97";
}

.swatch-primary-700 {
  background: #405c71;
}
.swatch-primary-700::after {
  content: "700 \a#405c71";
}

.swatch-primary-800 {
  background: #2b3e4c;
}
.swatch-primary-800::after {
  content: "800 \a#2b3e4c";
}

.swatch-primary-900 {
  background: #151f26;
}
.swatch-primary-900::after {
  content: "900 \a#151f26";
}

.swatch-primary-dark {
  background: #405c71;
}
.swatch-primary-dark::after {
  content: "dark \a#405c71";
}

.swatch-accent-50 {
  background: #fefef3;
}
.swatch-accent-50::after {
  content: "50 \a#fefef3";
}

.swatch-accent-100 {
  background: #fdfde8;
}
.swatch-accent-100::after {
  content: "100 \a#fdfde8";
}

.swatch-accent-200 {
  background: #fbfad0;
}
.swatch-accent-200::after {
  content: "200 \a#fbfad0";
}

.swatch-accent-300 {
  background: #f9f8b9;
}
.swatch-accent-300::after {
  content: "300 \a#f9f8b9";
}

.swatch-accent-400 {
  background: #f7f5a1;
}
.swatch-accent-400::after {
  content: "400 \a#f7f5a1";
}

.swatch-accent-500 {
  background: #f5f38a;
}
.swatch-accent-500::after {
  content: "500 \a#f5f38a";
}

.swatch-accent-600 {
  background: #c4c26e;
}
.swatch-accent-600::after {
  content: "600 \a#c4c26e";
}

.swatch-accent-700 {
  background: #939253;
}
.swatch-accent-700::after {
  content: "700 \a#939253";
}

.swatch-accent-800 {
  background: #626137;
}
.swatch-accent-800::after {
  content: "800 \a#626137";
}

.swatch-accent-900 {
  background: #31311c;
}
.swatch-accent-900::after {
  content: "900 \a#31311c";
}

.swatch-neutral-50 {
  background: #f4f7f8;
}
.swatch-neutral-50::after {
  content: "50 \a#f4f7f8";
}

.swatch-neutral-100 {
  background: #e9eef1;
}
.swatch-neutral-100::after {
  content: "100 \a#e9eef1";
}

.swatch-neutral-200 {
  background: #d4dde4;
}
.swatch-neutral-200::after {
  content: "200 \a#d4dde4";
}

.swatch-neutral-300 {
  background: #beccd6;
}
.swatch-neutral-300::after {
  content: "300 \a#beccd6";
}

.swatch-neutral-400 {
  background: #a9bbc9;
}
.swatch-neutral-400::after {
  content: "400 \a#a9bbc9";
}

.swatch-neutral-500 {
  background: #93aabb;
}
.swatch-neutral-500::after {
  content: "500 \a#93aabb";
}

.swatch-neutral-600 {
  background: #768896;
}
.swatch-neutral-600::after {
  content: "600 \a#768896";
}

.swatch-neutral-700 {
  background: #586670;
}
.swatch-neutral-700::after {
  content: "700 \a#586670";
}

.swatch-neutral-800 {
  background: #3b444b;
}
.swatch-neutral-800::after {
  content: "800 \a#3b444b";
}

.swatch-neutral-900 {
  background: #1d2225;
}
.swatch-neutral-900::after {
  content: "900 \a#1d2225";
}

/*# sourceMappingURL=demo.css.map */
