button,
.button {
  @include contrast(theme(button, neutral));

  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: theme(font, size, text);
  margin: theme(button, margin);
  padding: theme(button, padding);

  &:hover,
  &.hover {
    @include contrast(theme(button, neutral-hover));
  }

  &.button-primary {
    @include contrast(theme(button, primary));

    &:hover,
    &.hover {
      @include contrast(theme(button, primary-hover));
    }
  }

  &.button-link {
    background: none;
    color: theme(link, primary);
    padding: nth(theme(button, padding), 1);

    &:hover,
    &.hover {
      background: none;
      color: theme(link, primary-hover);
      text-decoration: underline;
    }
  }
}
