button,
.button {
  @include contrast(theme(button, neutral));

  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: font(size, regular);
  margin: 0 .25rem .25rem 0;
  padding: 1rem 2rem;

  &:hover,
  &.hover {
    @include contrast(theme(button, neutral-hover));
  }

  &.button-primary {
    @include contrast(theme(button, primary));

    &:hover,
    &.hover {
      @include contrast(theme(button, primary-hover));
    }
  }

  &.button-link {
    background: none;
    color: theme(link, primary);
    padding: 1rem;

    &:hover,
    &.hover {
      background: none;
      color: theme(link, primary-hover);
      text-decoration: underline;
    }
  }
}
