h1, h2, h3, h4, h5, h6, .title, .subtitle {
  font-family: theme(font, family, title);
  font-weight: theme(font, weight, title);
  line-height: theme(line-height, title);
}

h1, .title {
  margin: 0 0 (theme(font, size, title, 1) / 2);
}

h1 {
  font-size: theme(font, size, title, 1);
}

h2, .subtitle {
  margin: 0 0 1.35rem;
}

h2 {
  font-size: theme(font, size, title, 2);
}

h3 {
  font-size: theme(font, size, title, 3);
  margin: 0 0 1.15rem;
}

h4 {
  font-size: theme(font, size, title, 4);
  margin: 0 0 1rem;
}

h5 {
  font-size: theme(font, size, title, 5);
  margin: 0 0 .9rem;
}

h6 {
  font-size: theme(font, size, title, 6);
  margin: 0 0 (theme(font, size, title, 6) / 2);
}
