.header {
  align-items: center;
  background: rgba(theme(header, background), .3);
  display: flex;
  flex-direction: row;
  height: theme(header, height);
  padding: theme(header, padding);

  .title {
    color: contrast-color(theme(header, background));
    font-size: 4.2rem;
    margin: 0;
    text-transform: uppercase;

    em {
      color: color(accent);
      font-style: normal;
      font-weight: bold;
    }
  }
}
