@charset "UTF-8";
/**
  Color functions
 */
/**
  Color mixins
 */
/**
  Position and size mixins
 */
/**
	Main colors by name
 */
/**
  Main color levels
 */
/**
  Additional neutral colors
 */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap");
/**
  Baseline element properties
 */
/**
  Additional element properties
 */
.footer {
  align-items: center;
  background: rgba(116, 127, 134, 0.3);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 10rem;
  padding: 2rem;
}

* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

html {
  background: #f1f4f6;
  color: rgba(51, 55, 59, 0.75);
  background-attachment: fixed;
  background-image: url("../../images/backgrounds/city.jpg");
  background-position: center center;
  background-size: cover;
  font-family: Source Sans Pro, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4285714286;
}
html h1, html h2, html h3, html h4, html h5, html h6, html .title, html .subtitle {
  color: #33373b;
}
html label, html .label {
  color: rgba(51, 55, 59, 0.6);
}

body {
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: inherit;
  line-height: inherit;
}

a,
.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
}

nav ul,
nav ul li,
nav ul li a {
  display: block;
}
nav ul {
  list-style: none;
}

p {
  margin: 0 0 0.7rem;
}

/**
  Ensure that footer is always positioned at the bottom
 */
.footer,
.header,
.main {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.header {
  align-items: center;
  background: rgba(116, 127, 134, 0.3);
  display: flex;
  flex-direction: row;
  height: 24rem;
  padding: 2rem;
}
.header .title {
  color: #ffffff;
  font-size: 4.2rem;
  margin: 0;
  text-transform: uppercase;
}
.header .title em {
  color: #f59e7a;
  font-style: normal;
  font-weight: bold;
}

.main {
  background: #f1f4f6;
  color: rgba(51, 55, 59, 0.75);
  padding: 2rem;
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6, .main .title, .main .subtitle {
  color: #33373b;
}
.main label, .main .label {
  color: rgba(51, 55, 59, 0.6);
}

button,
.button {
  background: #747f86;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: 1.4rem;
  margin: 0 0.25rem 0.25rem 0;
  padding: 1rem 2rem;
}
button:hover, button.hover,
.button:hover,
.button.hover {
  background: #545b60;
  color: #ffffff;
}
button.button-primary,
.button.button-primary {
  background: #3fa9a9;
  color: #ffffff;
}
button.button-primary:hover, button.button-primary.hover,
.button.button-primary:hover,
.button.button-primary.hover {
  background: #348b8b;
  color: #ffffff;
}
button.button-link,
.button.button-link {
  background: none;
  color: #3fa9a9;
  padding: 1rem;
}
button.button-link:hover, button.button-link.hover,
.button.button-link:hover,
.button.button-link.hover {
  background: none;
  color: #348b8b;
  text-decoration: underline;
}

.card {
  background: #ffffff;
  border: 1px solid #ebeff2;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.6rem;
  padding: 2rem;
}

.card-footer {
  border-top: 1px solid #f1f4f6;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
}

.card-header {
  border-bottom: 1px solid #f1f4f6;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}
.card-header .title {
  margin: 0;
}

.card-main {
  padding: 1rem 0 0;
}

/**
  Cards in a grid will have the same height by default
 */
.col > .card,
[class^=col-] > .card {
  height: 100%;
}

.demo [class^=swatch-], code,
.code {
  font-family: Source Code Pro, monospace;
  font-size: 1.2rem;
  line-height: 1.2857142857;
}

.nav-side {
  background: #545b60;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  height: calc(100% + 4rem);
  margin: -2rem -1.5rem -2rem -2rem;
  min-height: calc(100vh - 20rem);
  padding: 2rem;
  width: 20rem;
}
.nav-side h1, .nav-side h2, .nav-side h3, .nav-side h4, .nav-side h5, .nav-side h6, .nav-side .title, .nav-side .subtitle {
  color: #ffffff;
}
.nav-side label, .nav-side .label {
  color: rgba(255, 255, 255, 0.6);
}
.nav-side a,
.nav-side .link {
  margin: 0 -2rem;
  padding: 0.25rem 2rem;
}
.nav-side a.active,
.nav-side .link.active {
  color: #ffffff;
  border-left: solid 0.5rem #f59e7a;
  padding-left: 1.5rem;
}
.nav-side .title {
  margin: 2rem 0 1.5rem;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  line-height: 1.1428571429;
}

h1, .title {
  margin: 0 0 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2, .subtitle {
  margin: 0 0 1.35rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.3rem;
  margin: 0 0 1.15rem;
}

h4 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h5 {
  font-size: 1.8rem;
  margin: 0 0 0.9rem;
}

h6 {
  font-size: 1.6rem;
  margin: 0 0 0.8rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.demo [class^=swatch-] {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
  width: 10rem;
  height: 10rem;
  border: 1px solid #ebeff2;
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
.demo [class^=swatch-]::after {
  background: #ffffff;
  color: å;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: auto;
  border-top: 1px solid #f1f4f6;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 100%;
}
.demo .swatch-primary {
  background: #3fa9a9;
}
.demo .swatch-primary::after {
  content: "primary \a#3fa9a9";
}
.demo .swatch-accent {
  background: #f59e7a;
}
.demo .swatch-accent::after {
  content: "accent \a#f59e7a";
}
.demo .swatch-neutral {
  background: #b6c6d1;
}
.demo .swatch-neutral::after {
  content: "neutral \a#b6c6d1";
}
.demo .swatch-white {
  background: #ffffff;
}
.demo .swatch-white::after {
  content: "white \a#ffffff";
}
.demo .swatch-success {
  background: #69bda3;
}
.demo .swatch-success::after {
  content: "success \a#69bda3";
}
.demo .swatch-info {
  background: #699dbd;
}
.demo .swatch-info::after {
  content: "info \a#699dbd";
}
.demo .swatch-danger {
  background: #f77f7f;
}
.demo .swatch-danger::after {
  content: "danger \a#f77f7f";
}
.demo .swatch-warning {
  background: #f7d87f;
}
.demo .swatch-warning::after {
  content: "warning \a#f7d87f";
}
.demo .swatch-black {
  background: #33373b;
}
.demo .swatch-black::after {
  content: "black \a#33373b";
}
.demo .swatch-dark {
  background: #747f86;
}
.demo .swatch-dark::after {
  content: "dark \a#747f86";
}
.demo .swatch-light {
  background: #f1f4f6;
}
.demo .swatch-light::after {
  content: "light \a#f1f4f6";
}
.demo .swatch-primary-50 {
  background: #dbefef;
}
.demo .swatch-primary-50::after {
  content: "50 \a#dbefef";
}
.demo .swatch-primary-100 {
  background: #c9e7e7;
}
.demo .swatch-primary-100::after {
  content: "100 \a#c9e7e7";
}
.demo .swatch-primary-200 {
  background: #a7d7d7;
}
.demo .swatch-primary-200::after {
  content: "200 \a#a7d7d7";
}
.demo .swatch-primary-300 {
  background: #84c8c8;
}
.demo .swatch-primary-300::after {
  content: "300 \a#84c8c8";
}
.demo .swatch-primary-400 {
  background: #62b8b8;
}
.demo .swatch-primary-400::after {
  content: "400 \a#62b8b8";
}
.demo .swatch-primary-500 {
  background: #3fa9a9;
}
.demo .swatch-primary-500::after {
  content: "500 \a#3fa9a9";
}
.demo .swatch-primary-600 {
  background: #348b8b;
}
.demo .swatch-primary-600::after {
  content: "600 \a#348b8b";
}
.demo .swatch-primary-700 {
  background: #286c6c;
}
.demo .swatch-primary-700::after {
  content: "700 \a#286c6c";
}
.demo .swatch-primary-800 {
  background: #1d4e4e;
}
.demo .swatch-primary-800::after {
  content: "800 \a#1d4e4e";
}
.demo .swatch-primary-900 {
  background: #122f2f;
}
.demo .swatch-primary-900::after {
  content: "900 \a#122f2f";
}
.demo .swatch-primary-dark {
  background: #286c6c;
}
.demo .swatch-primary-dark::after {
  content: "dark \a#286c6c";
}
.demo .swatch-accent-50 {
  background: #fdede6;
}
.demo .swatch-accent-50::after {
  content: "50 \a#fdede6";
}
.demo .swatch-accent-100 {
  background: #fce4da;
}
.demo .swatch-accent-100::after {
  content: "100 \a#fce4da";
}
.demo .swatch-accent-200 {
  background: #fad2c2;
}
.demo .swatch-accent-200::after {
  content: "200 \a#fad2c2";
}
.demo .swatch-accent-300 {
  background: #f9c1aa;
}
.demo .swatch-accent-300::after {
  content: "300 \a#f9c1aa";
}
.demo .swatch-accent-400 {
  background: #f7af92;
}
.demo .swatch-accent-400::after {
  content: "400 \a#f7af92";
}
.demo .swatch-accent-500 {
  background: #f59e7a;
}
.demo .swatch-accent-500::after {
  content: "500 \a#f59e7a";
}
.demo .swatch-accent-600 {
  background: #c98264;
}
.demo .swatch-accent-600::after {
  content: "600 \a#c98264";
}
.demo .swatch-accent-700 {
  background: #9d654e;
}
.demo .swatch-accent-700::after {
  content: "700 \a#9d654e";
}
.demo .swatch-accent-800 {
  background: #714938;
}
.demo .swatch-accent-800::after {
  content: "800 \a#714938";
}
.demo .swatch-accent-900 {
  background: #452c22;
}
.demo .swatch-accent-900::after {
  content: "900 \a#452c22";
}
.demo .swatch-neutral-50 {
  background: #f1f4f6;
}
.demo .swatch-neutral-50::after {
  content: "50 \a#f1f4f6";
}
.demo .swatch-neutral-100 {
  background: #ebeff2;
}
.demo .swatch-neutral-100::after {
  content: "100 \a#ebeff2";
}
.demo .swatch-neutral-200 {
  background: #dde5ea;
}
.demo .swatch-neutral-200::after {
  content: "200 \a#dde5ea";
}
.demo .swatch-neutral-300 {
  background: #d0dbe2;
}
.demo .swatch-neutral-300::after {
  content: "300 \a#d0dbe2";
}
.demo .swatch-neutral-400 {
  background: #c3d0d9;
}
.demo .swatch-neutral-400::after {
  content: "400 \a#c3d0d9";
}
.demo .swatch-neutral-500 {
  background: #b6c6d1;
}
.demo .swatch-neutral-500::after {
  content: "500 \a#b6c6d1";
}
.demo .swatch-neutral-600 {
  background: #95a2ab;
}
.demo .swatch-neutral-600::after {
  content: "600 \a#95a2ab";
}
.demo .swatch-neutral-700 {
  background: #747f86;
}
.demo .swatch-neutral-700::after {
  content: "700 \a#747f86";
}
.demo .swatch-neutral-800 {
  background: #545b60;
}
.demo .swatch-neutral-800::after {
  content: "800 \a#545b60";
}
.demo .swatch-neutral-900 {
  background: #33373b;
}
.demo .swatch-neutral-900::after {
  content: "900 \a#33373b";
}

/**
  Fix collapsing margins of child elements
 */
.col,
[class^=col-] {
  display: flex;
  flex-direction: column;
}

/**
  Vertical alignment
 */
.col.col-valign-bottom,
[class^=col-].col-valign-bottom {
  justify-content: flex-end;
}
.col.col-valign-center,
[class^=col-].col-valign-center {
  justify-content: center;
}
.col.col-valign-top,
[class^=col-].col-valign-top {
  justify-content: flex-start;
}

/*# sourceMappingURL=boilerplate.css.map */
